#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box; 
}

.homepage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}


.recipes-section {
  padding: 2rem;
}

.recipes-section h2 {
  margin-bottom: 2rem;
  color: #196c53;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.blogs-section {
  padding: 2rem;
  background-color: #196c53;
}

.blogs-section h2 {
  margin-bottom: 1.5rem;
  color: #f0e0d0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

.blogs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
