.profile-header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-top: 20px;
}

.profile-header h1 {
  color: #196c53;
  margin-bottom: 0.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.profile-header p {
  color: #555;
  margin: 0;
}
