html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #fff8f0;
  border-bottom: 2px solid #f0e0d0;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-left: 20px;
}

.logo {
  width: auto;
  height: 65px;
  user-select: none;        
  pointer-events: none;
  margin: 0;
}

.navbar-center {
  display: flex;
  gap: 40px;
}

.nav-link {
  text-decoration: none;
  color: #196c53;
  font-weight: 700;
  transition: color 0.3s ease;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.nav-link:hover {
  color: #ff6f3c;
}

.nav-link.active {
  color: #ff6f3c;
  border-bottom: 2px solid #ff6f3c;
  padding-bottom: 2px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.username {
  font-weight: 500;
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
